{% extends 'base.html.twig' %}

{% block title  'Change Password' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto ">
			<h1 class="my-5 text-center">Change Password</h1>

			{{form_start(monForm)}}
			{# <div class="row">
																<div class="col-md-6 ">
																	{{ form_row(monForm.firstName) }}
																</div>
																<div class="col-md-6 ">
																	{{ form_row(monForm.lastName) }}
																</div>
															</div> #}
			{{form_rest(monForm)}}
			<button type="submit" class="btn btn-primary btn-lg btn-block">Update Password</button>
			{{form_end(monForm)}}
		</div>
	</div>
{% endblock %}
