{% extends 'base.html.twig' %}

{% block title  'Edit User Account' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto ">
			<h1 class="my-5 text-center">Update Profile</h1>

			{{form_start(monForm)}}
			<div class="row">
				<div class="col-md-6 ">
					{{ form_row(monForm.firstName) }}
				</div>
				<div class="col-md-6 ">
					{{ form_row(monForm.lastName) }}
				</div>
			</div>
			{{form_rest(monForm)}}
			<button type="submit" class="btn btn-primary btn-lg btn-block">Apply Changes</button>
			{{form_end(monForm)}}
		</div>
	</div>
{% endblock %}
