{% extends 'base.html.twig' %}

{% block title %}Se connecter!
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mt-5 mb-3 text-center">Se connecter</h1>
			<p class="mb-5 text-center text-muted">
				Time to connect</p>
			<form method="post">
				{% if error %}
					<div class="alert alert-error rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}


				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control" required>
				</div>
				<div class="d-flex justify-content-between">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" name="_remember_me" id="remember_me">
							<label class="form-check-label" for="remember_me">
								Se souvenir de moi
							</label>
						</div>
					</div>


				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-lg btn-block btn-primary" type="submit">
					Se connecter
				</button>
				<p class="mt-5 mb-3 text-center text-muted">
					Pas encore enregistré? -
					<a href="{{ path('app_register') }}">Créer un compte!
					</a>
				</p>
			</form>

		</div>
	</div>
{% endblock %}
