{% extends 'base.html.twig' %}

{% block title 'Editer le genre  #' ~ genre.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Genre #
				{{ genre.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Genre'}) }}
		</div>
	</div>
{% endblock %}
