{% extends 'base.html.twig' %}

{% block title %}Les genres!
{% endblock %}

{% block body %}
	{% set genre_count = genres|length %}
	<div class="example-wrapper">

		{% if (genre_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (genre_count, 'Genre') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (genre_count, 'Genre') }}
				dans la base |
				<a href="{{ path('create_genre') }}">
					Ajouter un genre
				</a>
				|
				<a href="{{ path('create_genre_igdb') }}">
					Raffraichir depuis IGDB
				</a>
			</p>


			{% for  genre in genres %}
				{# <a href="{{ path('show_genre', { 'id' : genre.id } ) }}" class="btn btn-light">
																	<i class="far fa-eye" style="color:blue"></i>
																</a> #}
				<a href="{{ path('edit_genre', { 'id' : genre.id } ) }}" class="btn btn-light">
					<i class="far fa-edit" style="color:forestgreen"></i>
				</a>
				<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-genre-delete-form').submit()" class="btn btn-light">
					<i class="fas fa-trash" style="color:red"></i>
				</a>
				{{genre.name}}
				(<a href="{{ path('genre_game', { 'id' : genre.id } ) }}">
					{{pluralize (genre.games|length, 'jeu', 'jeux')}}
				</a>
				pour ce genre)
				<br/>
			{% else %}
				<p>
					Pas encore de genre!
					<a href="{{ path('create_genre') }}">
						En ajouter un
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de genre!
				<a href="{{ path('create_genre') }}">
					En ajouter un
				</a>

			</p>
		{% endif %}
	{% endblock %}
