{% extends 'base.html.twig' %}

{% block title %}
	{{ genre.name }}!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<article>
				<div class="p-3">
					<p class="pt-3 text-break">
						Nom du genre :
						{{ genre.name }}
					</p>

					<div class="pt-3">
						<p>
							<a href="{{ path('edit_genre', { 'id' : genre.id } ) }}" class="btn btn-light">
								<i class="far fa-edit" style="color:forestgreen"></i>
								Modifier</a>
							<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-genre-delete-form').submit()" class="btn btn-light">
								<i class="fas fa-trash" style="color:red"></i>
								Supprimer</a>
						</p>
						<form id="js-genre-delete-form" action="{{ path('delete_genre', { 'id' : genre.id } ) }}" method="post" style="display:none">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('genre_deletion_' ~ genre.id ) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</div>
				</div>
			</article>


		</div>
	</div>


{% endblock %}
