{% extends 'base.html.twig' %}

{% block title %}Ajouter une langue pour un jeu!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Ajoute une langue</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Ajouter langue'}) }}
		</div>
	</div>

{% endblock %}
