{% extends 'base.html.twig' %}

{% block title "Editer l'Editeur  #" ~ editeur.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Editeur #
				{{ editeur.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Editeur'}) }}
		</div>
	</div>
{% endblock %}
