{% extends 'base.html.twig' %}

{% block title %}Les Editeurs!
{% endblock %}

{% block body %}
	{% set editeur_count = editeurs|length %}
	<div class="example-wrapper">

		{% if (editeur_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (editeur_count, 'Editeur') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (editeur_count, 'Editeur') }}
				dans la base |
				<a href="{{ path('create_editeur') }}">
					Ajouter un Editeur
				</a>
				|
				<a href="{{ path('create_editeur_igdb') }}">
					Raffraichir depuis IGDB
				</a>
			</p>


			{% for  editeur in editeurs %}
				{% if editeur.games|length >0 %}
					<a href="{{ path('edit_editeur', { 'id' : editeur.id } ) }}" class="btn btn-light">
						<i class="far fa-edit" style="color:forestgreen"></i>
					</a>
					<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-editeur-delete-form').submit()" class="btn btn-light">
						<i class="fas fa-trash" style="color:red"></i>
					</a>
					{{editeur.name}}
					(<a href="{{ path('editeur_game', { 'id' : editeur.id } ) }}">
						{{pluralize (editeur.games|length, 'jeu', 'jeux')}}
					</a>
					pour cet Editeur)
					<br/>
				{%  endif %}
			{% else %}
				<p>
					Pas encore d'Editeur!
					<a href="{{ path('create_editeur') }}">
						En ajouter un
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore d'Editeur!
				<a href="{{ path('create_editeur') }}">
					En ajouter un
				</a>

			</p>
		{% endif %}
	{% endblock %}
