{# {% for  row in games|batch(4) %}
	<div class="row mb-5">
		{% for  game in row %}
			<div class="col-lg-3">
				<article class="game bg-white rounded shadow">
					<div class="mw-100 overflow-hidden rounded-top">
						<a href="{{ path('show_mygame', { 'id' : game.id } ) }}" class="btn btn-light">
							<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.name }}" class="w-100 "/>
						</a>
					</div>
					<h2 class="h5 pl-3 pt-3 pb-3">
						<a class="text-secondary text-decoration-none" href="{{ path('show_mygame', { 'id' : game.id } ) }}">
							{{ game.name }}
						</a>
						<div>
							<div class="console console-{{game.consoles.constructeur.name}}">
								{% if (game.consoles.constructeur.id ) == 3 %}
									<i class="fab fa-playstation"></i>
								{% elseif (game.consoles.constructeur.id ) == 1 %}
									<i class="fab fa-xbox"></i>
								{% elseif (game.consoles.constructeur.id)==4 %}
									<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

								{% endif %}
								{{game.consoles.longName}}
							</div>
						</div>
					</h2>
				</article>
			</div>
		{% else %}
			<p>
				Pas de jeu pour le moment!
				{% if (is_granted('GAME_MANAGE')) %}
					<a href="{{ path('create_mygame') }}">En Ajouter Un?
					</a>
				{% endif %}
			</p>

		{% endfor %}

	</div>
{% endfor %} #}
{# <div class="row row-cols-1 row-cols-md-4 g-4">
	{% for  game in games %}
		<div class="col">
			<div class="card h-100">
				<a href="{{ path('show_mygame', { 'id' : game.id } ) }}">
					<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.name }}" class="w-100 "/>
				</a>
				<div class="card-body">
					<h5 class="card-title">
						<a class="text-secondary text-decoration-none" href="{{ path('show_mygame', { 'id' : game.id } ) }}">
							{{ game.name }}
						</a>

					</h5>
					{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> #}
				{# </div>

				<div class="card-footer">
					<small class="text-muted">
						<div class="row">
							<div class="col-md-6">
								<div class="console console-{{game.consoles.constructeur.name}}">
									{% if (game.consoles.constructeur.id ) == 3 %}
										<i class="fab fa-playstation"></i>
									{% elseif (game.consoles.constructeur.id ) == 1 %}
										<i class="fab fa-xbox"></i>
									{% elseif (game.consoles.constructeur.id)==4 %}
										<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

									{% endif %}
									{{game.consoles.shortName}}
								</div>
							</div>

							{% if (game.likes) %}
								<div class="col-md-1">
									<i class="fas fa-heart" style="font-size:25px;color:red" data-inline='true' class="w-10 "></i>
								</div>
							{% endif %}
							{% if (game.wishes) or ((game.statut and game.statut.id == 5)) %}
								<div class="col-md-1">
									<i class="fas fa-star" style="font-size:25px;color:orange"></i>
								</div>
							{% endif %}
						</div>
					</small>
				</div>
			</div>
		</div>
	{% endfor %}
</div> #}

<div class="row row-cols-1 row-cols-md-4 g-4">
	{% for  game in games %}
		<div class="col">
			<div class="card h-100">
				<div class="image-middle">
					<a href="{{ path('show_mygame', { 'id' : game.id } ) }}">
						<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.name }}" class="w-100 "/>
					</a>
					<div class="overlay">
						<div >
							{% if (game.likes) %}
								<span class="badge bg-danger">
									<i class="fas fa-heart" style="font-size:15px;color:white" data-inline='true' class="w-10 "></i>
								</span>
							{% endif %}
							{% if (game.wishes) or ((game.statut and game.statut.id == 5)) %}
								<span class="badge bg-warning">
									<i class="fas fa-star" style="font-size:15px;color:white" data-inline='true' class="w-10 "></i>
								</span>
							{% endif %}
							{% if ((game.statut and game.statut.id == 6)) %}
								<span class="badge bg-warning">
									<i class="fa-solid fa-pause" style="font-size:15px;color:white" data-inline='true' class="w-10 "></i>
								</span>
							{% endif %}
							{% if ((game.statut and game.statut.id == 3)) %}
								<span class="badge bg-success">
									<i class="fas fa-award" style="font-size:15px;color:white" data-inline='true' class="w-10 "></i>
								</span>
							{% endif %}
								{% if ((game.statut and game.statut.id == 2)) %}
								<span class="badge bg-primary">
									<i class="fa-solid fa-play" style="font-size:15px;color:white" data-inline='true' class="w-10 "></i>
								</span>
							{% endif %}
						</div>

					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						<a class="text-secondary text-decoration-none" href="{{ path('show_mygame', { 'id' : game.id } ) }}">
							{{ game.name }}
						</a>

					</h5>
					{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> #}
				</div>

				<div class="card-footer">
					<small class="text-muted">
							<div >
								<div class="console console-{{game.consoles.constructeur.name}}">
									{% if (game.consoles.constructeur.id ) == 3 %}
										<i class="fab fa-playstation"></i>
									{% elseif (game.consoles.constructeur.id ) == 1 %}
										<i class="fab fa-xbox"></i>
									{% elseif (game.consoles.constructeur.id)==4 %}
										<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

									{% endif %}
									{{game.consoles.longName}}
								</div>
							</div>
					</small>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
