{% for  game in games %}
	<article class="game bg-white rounded shadow">
		<div class="mw-100 overflow-hidden rounded-top"></div>

		<h2 class="h5 pl-3 pt-3 pb-2">

			<div class="row">
				<div class="col-md-1">
					<a href="{{ path('show_mygame', { 'id' : game.id } ) }}" class="btn btn-light">
						<i class="far fa-eye" style="color:blue"></i>
					</a>
				</div>
				<div class="col-md-1">
					<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_mini')}}" alt="{{ game.name }}" class="w-10 "/>
				</div>
				<div class="col-md-3">
					<a class="text-secondary text-decoration-none" href="{{ path('show_game', { 'id' : game.game.id } ) }}">

						{{ game.name }}
					</a>
				</div>
				<div class="col-md-2">
					<div class="console console-{{game.consoles.constructeur.name}}">
						{% if (game.consoles.constructeur.id ) == 3 %}
							<i class="fab fa-playstation"></i>
						{% elseif (game.consoles.constructeur.id ) == 1 %}
							<i class="fab fa-xbox"></i>
						{% elseif (game.consoles.constructeur.id)==4 %}
							<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

						{% endif %}
						{{game.consoles.longName}}
					</div>
				</div>
				<div class="col-md-3">
					{{game.remarque}}
				</div>
				{% if not game.isDigital %}
					<div
						class="col-md-1">
						{# <span class='iconify' data-icon='bx:bx-disc' data-inline='true' style='font-size:35px;color:green'></span> #}
						<img src="{{ asset('uploads/logo/93256.gif') | imagine_filter('squared_thumbnail_mini')}}" data-inline='true' alt="Version Physique" class="w-10 "/>
					</div>
				{% endif %}
				{% if (game.likes) %}
					<div class="col-md-1">
						<i class="fas fa-heart" style="font-size:35px;color:red" data-inline='true' class="w-10 "></i>
					</div>
				{% endif %}
				{% if (game.wishes) or ((game.statut and game.statut.id == 5)) %}
					<div class="col-md-1">
						<i class="fas fa-star" style="font-size:35px;color:#FFFF00"></i>
					</div>
				{% endif %}


			</div>
		</h2>

	</article>

{% else %}
	<p>
		Sorry, no game in your collection yet!
		<a href="{{ path('create_mygame') }}">Be The first
		</a>
	</p>
{% endfor %}
