{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu à ma collection!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Ajouter un jeu
			</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Ajouter Jeu'}) }}
		</div>
	</div>
{% endblock %}
