{% extends 'base.html.twig' %}

{% block title %}Ma collection de jeux!
{% endblock %}

{% block body %}
	{% set game_count = games.getTotalItemCount %}


	<div class="example-wrapper">

		{% if (game_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				Ma collection de
				{{ pluralize (game_count, 'Jeu','Jeux') }}
				! ✅<span class="iconify" data-icon="noto:video-game" data-inline="false"></span>
			</h1>


			<div class="row mt-3 mb-3">
				<div class="col-md-6 ">
					<p class="mb-5">Il y a
						{{ pluralize (game_count, 'Jeu','Jeux') }}
						dans ma collection |
						<a href="{{ path('create_mygame') }}">
							Ajouter un jeu
						</a>
					</p>
				</div>
				<div class="col-md-6 text-right">
					Trier par: &nbsp;
					<table align="right">
						<tr>
							{# sorting of properties based on query components #}
							<th>{{ knp_pagination_sortable(games, 'Id'|trans({foo:'bar'},'messages'), 'u.id' )|raw }}</th>
							<th {% if games.isSorted('games.name') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(games, 'Titre', 'u.name')|raw }}</th>
							<th {% if games.isSorted('games.consoles.id') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(games, 'Console', 'c.longName')|raw }}</th>
						</tr>
					</table>
				</div>
			</div>
			{#&nbsp; <span class='iconify' data-icon='fa-brands:nintendo-switch' 
																																																																																																																																																															            data-inline='true' style='color:red'></span>&nbsp;#}
			<div class="row">
				<div class="col-md-3">
					{% include "game_user/_filter.html.twig" with {form: form , controller_name:controller_name} only %}

				</div>

				<div class="col-md-9">
					{% include "game_user/_card.html.twig" with {games: games } only %}
					<div class="row">
						<div class="col-md-12">
							<div class="container mt-3 navigation">
								{{ knp_pagination_render(games) }}
							</div>
						</div>
					</div>
				{% else %}
					<p class="mt-5 h1 text-center ">
						Sorry, no game in your collection yet!
						<a href="{{ path('create_mygame') }}">Be The first
						</a>
					</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
