{% extends 'base.html.twig' %}

{% block title %}
	{{ game.name }}!
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.name }}" class="w-100 "/>
				</div>
				<div class="p-3">
					<h1 class="h5 text-secondary">
						{{ game.name }}
					</h1>
					<p class="text-muted">
						<small>
							<time datetime="{{ game.createdAt|date("d/M/Y H:i:s") }}">Submitted
								{{ game.createdAt|ago  }}
							</time>

						</small>
					</p>

					<p class="text-muted">
						<i class="far fa-calendar-alt"></i>
						{{ game.purchaseDate|date("d/m/Y")}}
						sur
						{% if (game.consoles.constructeur.id ) == 3 %}
							<i class="fab fa-playstation"></i>
						{% elseif (game.consoles.constructeur.id ) == 1 %}
							<i class="fab fa-xbox"></i>
						{% elseif (game.consoles.constructeur.id)==2 %}
							<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

						{% endif %}

						{{ game.consoles.longName }}
						pour
						<i class="fas fa-euro-sign"></i>
						{{ game.price }}
					</p>
					<!--date("d/M/Y")-->
					<p class="pt-3 text-break">{{ game.remarque }}</p>
					<h3 class="text-center">Informations sur le jeu</h3>
					<i>
						{{game.game.description|raw}}</i>
					<div class="pt-3">
						<p>
							<a href="{{ path('edit_mygame', { 'id' : game.id } ) }}" class="btn btn-light">
								Edit</a>
							<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-game-delete-form').submit()" class="btn btn-light">
								Delete</a>
						</p>
						<form id="js-game-delete-form" action="{{ path('delete_mygame', { 'id' : game.id } ) }}" method="post" style="display:none">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('game_deletion_' ~ game.id ) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</div>
				</div>
			</article>


		</div>
	</div>
{% endblock %}
