{% extends 'base.html.twig' %}

{% block title %}
	{{ game.name }}!
{% endblock %}

{% block body %}

	<article class="pin bg-white rounded shadow">
		<div class="row">


			<div class="col-md-5 mx-auto">
				<div class="mw-100 overflow-hidden rounded-top" align="center">
					<img src="{{ (game.game.cover ? vich_uploader_asset(game.game) : asset('build/images/placeholder.jpg')) | imagine_filter('cover_medium')}}" alt="{{ game.game.title }}" class="w-50 "/>
				</div>
				<div class="p-3">
					{% if game.game.slug is  not null %}
						<a href="https://www.igdb.com/games/{{  game.game.slug }}" class="btn btn-light " target="_blank">
							<i class="fab fa-imdb"></i>
							Voir sur IMDB</a>
					{% endif %}
					{% if game.game.website is  not null %}
						<a href="{{ game.game.website }}" class="btn btn-light " target="_blank">
							<i class="fas fa-globe"></i>
							Site officiel</a>
					{% endif %}
				</div>
			</div>
			<div class="col-md-7 mx-auto">
				<div class="p-3">
					<h1 class="h5 text-secondary" align="center">
						{{ game.game.title }}
						{% if (is_granted('GAME_MANAGE', game)) %}
							<a href="{{ path('edit_mygame', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent">
								<i class=" far fa-edit" style=" color:blue"></i>
							</a>
							<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-game-delete-form').submit()" class="btn btn-light">
								<i class="fas fa-trash" style="color:red"></i>
							</a>
							<form id="js-game-delete-form" action="{{ path('delete_mygame', { 'id' : game.id } ) }}" method="post" style="display:none">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('game_deletion_' ~ game.id ) }}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						{% endif %}
					</h1>
					<table class="table">
						<tbody>
							<tr>
								<th>Date d'Achat:</th>
								<td>
									<i class="far fa-calendar-alt"></i>
									{{ game.purchaseDate|date("d/m/Y")}}
								</td>
							</tr>
							<tr>
								<th>Acheté sur:</th>
								<td>
									{% if (game.consoles.constructeur.id ) == 3 %}
										<i class="fab fa-playstation"></i>
									{% elseif (game.consoles.constructeur.id ) == 1 %}
										<i class="fab fa-xbox"></i>
									{% elseif (game.consoles.constructeur.id)==2 %}
										<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>
									{% endif %}
									{{game.consoles.longName}}
								</td>
							</tr>
							<tr>
								<th>Prix d'Achat:</th>
								<td>
									{% if (game.price) %}
										{{ game.price }}€</td>
								{% else %}
									-
								{% endif %}
							</tr>

							<tr>
								<th>Avec un Steelbook:</th>
								<td>
									{% if (game.haveSteelbook) %}
										<i class="fa-regular fa-circle-check" style="font-size:25px;color:green" data-inline='true' class="w-10 "></i>
									{% else %}
										<i class="fa-regular fa-circle-xmark" style="font-size:25px;color:red" data-inline='true' class="w-10 "></i>

									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Coup de Coeur:
								</th>
								<td>
									{% if (game.likes) %}
										<i class="fas fa-heart" style="font-size:25px;color:red" data-inline='true' class="w-10 "></i>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Liste d'envie:
								</th>
								<td>
									{% if (game.wishes) %}
										<i class="fas fa-star" style="font-size:35px;color:#FFFF00"></i>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Version physique:
								</th>
								<td>
									{% if not (game.isDigital) %}
										<i class="fa-regular fa-circle-check" style="font-size:25px;color:green" data-inline='true' class="w-10 "></i>
									{% else %}
										<i class="fa-regular fa-circle-xmark" style="font-size:25px;color:red" data-inline='true' class="w-10 "></i>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Statut:
								</th>
								<td>

									{{ game.statut }}

								</td>
							</tr>
							<tr>
								<th>Remarque:
								</th>
								<td>{{game.remarque}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="p-3 row">
			<div class="col-md-12 mx-auto">
				<h1 class="h5 text-secondary" align="center">
					Synopsis:
				</h1>
				<p style="text-align: justify;" class="pt-3 text-break">{{game.game.description|raw}}</p>
			</div>
		</div>
	</article>
{% endblock %}
