{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau constructeur!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Créer un nouveau constructeur</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Créer Constructeur'}) }}
		</div>
	</div>
{% endblock %}
