{% extends 'base.html.twig' %}

{% block title "Editer Constructeur  #" ~ constructeur.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Constructeur #
				{{ constructeur.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Constructeur'}) }}
		</div>
	</div>
{% endblock %}
