{% extends 'base.html.twig' %}

{% block title %}Les Constructeurs de console!
{% endblock %}

{% block body %}
	{% set constructeur_count = constructeurs|length %}
	<div class="example-wrapper">

		{% if (constructeur_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (constructeur_count, 'Constructeur') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (constructeur_count, 'Constructeur') }}
				dans la base |
				<a href="{{ path('create_constructeur') }}">
					Ajouter un Constructeur
				</a>
			</p>


			{% for  constructeur in constructeurs %}
				<a href="{{ path('show_constructeur', { 'id' : constructeur.id } ) }}" class="btn btn-light">
					<i class="far fa-eye" style="color:blue"></i>
				</a>
				{{constructeur.name}}
				<br/>
			{% else %}
				<p>
					Pas encore de Constructeur!
					<a href="{{ path('create_constructeur') }}">
						En ajouter un
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de Constructeur!
				<a href="{{ path('create_constructeur') }}">
					En ajouter un
				</a>

			</p>
		{% endif %}
	{% endblock %}
