{% extends 'base.html.twig' %}

{% block title %}Les Pegi!
{% endblock %}

{% block body %}
	{% set pegi_count = pegis|length %}
	<div class="example-wrapper">

		{% if (pegi_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (pegi_count, 'PEGI','PEGI') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (pegi_count, 'PEGI','PEGI') }}
				dans la base |
				<a href="{{ path('create_pegi') }}">
					Ajouter un pegi
				</a>
			</p>


			{% for  pegi in pegis %}
				<a href="{{ path('show_pegi', { 'id' : pegi.id } ) }}" class="btn btn-light">
					<i class="far fa-eye" style="color:blue"></i>
				</a>
				{{pegi.age}}
				<br/>
			{% else %}
				<p>
					Pas encore de pegi!
					<a href="{{ path('create_pegi') }}">
						En ajouter un
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de pegi!
				<a href="{{ path('create_pegi') }}">
					En ajouter un
				</a>

			</p>
		{% endif %}
	{% endblock %}
