{% extends 'base.html.twig' %}

{% block title %}Ajouter un screenshot à un jeu!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Ajouter un screenshot à un jeu!</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Ajouter Screenshot'}) }}
		</div>
	</div>

{% endblock %}
