{% extends 'base.html.twig' %}

{% block title "Editer Développeur  #" ~ developpeur.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Développeur #
				{{ developpeur.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Développeur'}) }}
		</div>
	</div>
{% endblock %}
