{% extends 'base.html.twig' %}

{% block title %}Les Développeurs!
{% endblock %}

{% block body %}
	{% set developpeur_count = developpeurs|length %}
	<div class="example-wrapper">

		{% if (developpeur_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (developpeur_count, 'Développeur') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (developpeur_count, 'Développeur') }}
				dans la base |
				<a href="{{ path('create_developpeur') }}">
					Ajouter un Développeur
				</a>
				|
				<a href="{{ path('create_developpeur_igdb') }}">
					Raffraichir depuis IGDB
				</a>
			</p>


			{% for  developpeur in developpeurs %}
				<a href="{{ path('show_developpeur', { 'id' : developpeur.id } ) }}" class="btn btn-light">
					<i class="far fa-eye" style="color:blue"></i>
				</a>
				{{developpeur.name}}
				(<a href="{{ path('developpeur_game', { 'id' : developpeur.id } ) }}">
					{{pluralize (developpeur.games|length, 'jeu', 'jeux')}}
				</a>
				pour ce Développeur)

				<br/>
			{% else %}
				<p>
					Pas encore de Développeur!
					<a href="{{ path('create_developpeur') }}">
						En ajouter un
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de Développeur!
				<a href="{{ path('create_developpeur') }}">
					En ajouter un
				</a>

			</p>
		{% endif %}
	{% endblock %}
