{% for  row in games|batch(6) %}
	<div class="row mb-3">
		{% for  game in row %}

			<div class="col-lg-2 col-md-4 col-4">
				<article class="game bg-white rounded shadow  h-100">
					<div class="mw-100 overflow-hidden rounded-top">
						<a href="{{ path('show_game', { 'id' : game.id } ) }}" data-bs-toggle="tooltip" data-bs-html="true" title="{{ game.title }}">
							<img src="{{ (game.cover ? vich_uploader_asset(game) : asset('build/images/placeholder.jpg')) | imagine_filter('cover_medium')}}" alt="{{ game.title }}" class="w-100 "/>
						</a>
					</div>
					{# <h2 class="h5 pl-3 pt-3 pb-3 text-center">
																																																																																																														<a class="text-secondary text-decoration-none" href="{{ path('show_game', { 'id' : game.id } ) }}">
																																																																																																														{{ game.title }}
																																																																																																														</a>
																																																																																																														</h2> #}
				</article>
			</div>
		{% else %}
			<p>
				Pas de jeu pour le moment!
				{% if (is_granted('GAME_MANAGE')) %}
					<a href="{{ path('create_game') }}">En Ajouter Un?
					</a>
				{% endif %}
			</p>
		{% endfor %}

	</div>
{% endfor %}
