{{ form_start(form, {attr:{class:'filter'}}) }}

{{form_row(form.qSearch) }}
<h4 class="mt-3">Console</h4>
{{form_row(form.consoles) }}
<h4 class="mt-3">Pegi</h4>
{{form_row(form.pegis) }}
<h4 class="mt-3">Genre</h4>
{{form_row(form.genres) }}

{# <h4 class="mt-3">Prix</h4>
<div class="row">
	<div class="col-md-6">{{form_row(form.min) }}</div>
	<div class="col-md-6">{{form_row(form.max) }}</div>
</div>
<div id="price-slider" data-min={{ min }} data-max={{ max }} class="mb-1 mt-3"></div>

<h4 class="mt-3">Promotions</h4>
{{form_row(form.promo ) }} #}
<div class="row">
	<div class="col-md-6">
		<a href="{{ path('app_home' ) }}" class="btn btn-light btn-outline-primary w-100">
			Reset</a>
	</div>
	<div class="col-md-6">
		<button type="submit" class="btn btn-primary w-100 mb-3">Filtrer</button>
	</div>
</div>
{{ form_end(form) }}
