<div class="p-3 row">
	<div class="col-md-12 mx-auto">
		<h1 class="h5 text-secondary" align="center">
			Image(s):
		</h1>
	</div>
</div>
<div id="screenshot" class="carousel slide" data-ride="carousel" data-interval="false">
	<div class="carousel-inner">
		{% set foo = "active" %}
		{% for screenshots in game.screenshots|reverse  | batch (3)%}
			<div class="carousel-item {{ foo }}">
				<div class="row">
					{% for screenshot in screenshots %}
						<div
							class="col-md-4 mx-auto">
							{# <img width="540" height="360" src="uploads/screenshots/{{ screenshot.titre }}"> | imagine_filter('cover_medium')}}" alt="{{ game.title }}" class="w-50  #}
							<img src="{{ (screenshot.titre ? vich_uploader_asset(screenshot) : asset('build/images/placeholder.jpg'))}}" class=" w-100 "/>
							<div class=" carousel-caption d-none d-md-block"></div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% set foo = "" %}
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#screenshot" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#screenshot" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
