<div class="p-3 row">
	<div class="col-md-12 mx-auto">
		<h1 class="h5 text-secondary" align="center">
			Vidéo(s):
		</h1>
	</div>
</div>
<div id="videoGame" class="carousel slide" data-ride="carousel" data-interval="false">
	<div class="carousel-inner">
		{% set foo = "active" %}
		{% for videos in game.videos|reverse  | batch (2)%}
			<div class="carousel-item {{ foo }}">
				<div class="row">
					{% for video in videos %}
						<div class="col-md-6 mx-auto">
							<object width="540" height="360" data="https://www.youtube.com/embed/{{ video.idYoutube }}"></object>
							<div class="carousel-caption d-none d-md-block">

								<h5>{{video.typeVideo}}</h5>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% set foo = "" %}
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#videoGame" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#videoGame" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
