{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau jeu!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Créer un nouveau jeu</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Créer Jeu'}) }}
		</div>
	</div>

{% endblock %}
