{% extends 'base.html.twig' %}

{% block title "Editer Jeu  #" ~ game.title  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Jeu #
				{{ game.title }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Jeu'}) }}
		</div>
	</div>
{% endblock %}
