{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
{% set game_count = games.getTotalItemCount %}
{# {% if  controller_name == 'GameController' %}
	{{ include ('layout/partials/_search.html.twig' )}}
{% endif %} #}
<div class="example-wrapper">
	{% if (game_count >0) %}
		<h1 class="mb-4 text-center text-muted">
			{{ pluralize (game_count, 'Jeu','Jeux') }}
			! ✅</h1>
		<div class="row mb-3">
			<div class="col-md-6 ">
				<p class="mb-5">Il y a
					{{ pluralize (game_count, 'Jeu','Jeux') }}
					dans la base
					{% if (is_granted('GAME_MANAGE')) %}
						|
						<a href="{{ path('create_game') }}">
							Ajouter un jeu
						</a>
					{% endif %}
				</p>
			</div>
			<div class="col-md-6 text-right">
				Trier par: &nbsp;
				<table align="right">
					<tr>
						{# sorting of properties based on query components #}
						<th>{{ knp_pagination_sortable(games, 'Id'|trans({foo:'bar'},'messages'), 'g.id' )|raw }}</th>
						<th {% if games.isSorted('games.title') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(games, 'Titre', 'g.title')|raw }}</th>
						<th {% if games.isSorted('games.releaseDate') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(games, 'Date de Sortie', 'g.releaseDate')|raw }}</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				{% include "game/_filter.html.twig" with {form: form, controller_name:controller_name  } only %}

			</div>

			<div class="col-md-9">
				{% include "game/_card.html.twig" with {games: games } only %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="container mt-3 navigation">
					{{ knp_pagination_render(games) }}
				</div>
			</div>
		</div>
	{% else %}
		<p class="mt-5 h1 text-center ">
			Pas de jeu pour le moment!
			{% if (is_granted('GAME_MANAGE')) %}
				<a href="{{ path('create_game') }}">En Ajouter Un?
				</a>
			{% endif %}
		</p>
	</a>
</p>{% endif %}{% endblock %}
