{% extends 'base.html.twig' %}

{% block title %}
	{{ game.title }}!
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<img src="{{ (game.cover ? vich_uploader_asset(game) : asset('build/images/placeholder.jpg')) | imagine_filter('cover_medium')}}" alt="{{ game.title }}" class="w-100 "/>
				</div>
				<div class="p-3">
					<h1 class="h5 text-secondary">
						{{ game.title }}
					</h1>
					<p class="text-muted">
						<small>
							<time datetime="{{ game.createdAt|date("d/M/Y H:i:s") }}">Submitted
								{{ game.createdAt|ago  }}
							</time>
							-
							<a href="{{ vich_uploader_asset(game) }}">
								Télécharger?</a>
						</small>
					</p>

					<p class="text-muted">
						<i class="far fa-calendar-alt"></i>
						{{ game.releaseDate|date("d/m/Y")}}
						sur
						<i class="fab fa-xbox"></i>
						<i class="fab fa-playstation"></i>
						<Icon icon={nintendoSwitch}/>
						<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>
						{{ consolesToString(game.consoles)}}
					</p>
					<!--date("d/M/Y")-->
					<p class="pt-3 text-break">{{ game.description|raw }}</p>
					<p class="pt-3 text-break">
						{% for genre in game.genres %}
							<li>{{ genre.name }}</li>
						{% endfor %}
					</p>
					<p class="pt-3 text-break">
						{% for editeur in game.editeurs %}
							<li>{{ editeur.name }}</li>
						{% endfor %}
					</p>
					<p class="pt-3 text-break">
						{% for developpeur in game.developpeurs %}
							<li>{{ developpeur.name }}</li>
						{% endfor %}
					</p>
					<div class="mw-100 overflow-hidden rounded-top">
						<img src="{{ (game.pegi ? vich_uploader_asset(game.pegi) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_logo')}}" alt="{{ (game.pegi ? game.pegi.age : '') }}"/>
					</div>
					{% if app.user %}
						<div class="pt-3">
							<p>
								<a href="{{ path('edit_game', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary">
									<i class="far fa-edit" style="color:blue"></i>
									Edit</a>
								<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-game-delete-form').submit()" class="btn btn-light btn-outline-danger">
									<i class="fas fa-trash" style="color:red"></i>
									Delete</a>
								<a href="{{ path('create_mygame', { 'idGame' : game.id } ) }}" class="btn btn-light btn-outline-success">
									<i class="fa fa-plus" style="color:green"></i>
									Add to my Collection</a>
							</p>
							<form id="js-game-delete-form" action="{{ path('delete_game', { 'id' : game.id } ) }}" method="post" style="display:none">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('game_deletion_' ~ game.id ) }}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						</div>
					{% endif %}
				</div>
			</article>


		</div>
	</div>


{% endblock %}
