{% extends 'base.html.twig' %}

{% block title %}
	{{ game.title }}!
{% endblock %}

{% block body %}

	<article class="pin bg-white rounded shadow">
		<div class="row">


			<div class="col-md-5 mx-auto">
				<div class="mw-100 overflow-hidden rounded-top" align="center">
					<img src="{{ (game.cover ? vich_uploader_asset(game) : asset('build/images/placeholder.jpg')) | imagine_filter('cover_medium')}}" alt="{{ game.title }}" class="w-50 "/>
				</div>
				<div class="p-3">
					{% if game.gameLanguages|length >0 %}
						<table class="table table-responsive table-sm">
							<thead>
								<tr>
									<th scope="col"></th>
									<th class="text-center" scope="col">Audio</th>
									<th class="text-center" scope="col">Sous Titres</th>
									<th class="text-center" scope="col">Interface</th>
								</tr>
							</thead>
							<tbody>
								{{ LangageToString(game.gameLanguages)|raw}}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
			<div class="col-md-7 mx-auto">
				<div class="p-3">
					<h1 class="h5 text-secondary" align="center">
						{{ game.title }}
						{% if (is_granted('GAME_ADD', game)) %}
							<a href="{{ path('create_mygame', { 'idGame' : game.id } ) }}" class="btn btn-light btn-outline-success btn-sm" data-bs-toggle="tooltip" title="Ajouter à ma collection">
								<i class="fa fa-plus" style="color:green"></i>
							</a>
						{% endif %}
						{% if (is_granted('GAME_MANAGE', game)) %}
							<br/>
							<a href="{{ path('create_video', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent" data-bs-toggle="tooltip" title="Ajoutez Vidéo">
								<i class=" fas fa-video" style=" color:black"></i>
							</a>
							<a href="{{ path('create_screenshot', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent" data-bs-toggle="tooltip" title="Ajoutez Screenshot">
								<i class=" far fa-image" style=" color:blue"></i>
							</a>
							<a href="{{ path('language_add', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent" data-bs-toggle="tooltip" title="Ajoutez Langue">
								<i class="fa-solid fa-language" style=" color:black"></i>
							</a>
							{% if game.igdbId is  not null %}
								<a href="{{ path('igdb_pic_maj', { 'id' : game.igdbId, 'theGame': game.id }) }}" class="btn btn-light  btn-outline-primary border-0 bg-transparent" data-bs-toggle="tooltip" title="Recharger Média & Langue">
									<i class="fa-solid fa-rotate"></i>
								</a>
							{% endif %}

							<a href="{{ path('edit_game', { 'id' : game.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent" data-bs-toggle="tooltip" title="Editer Jeu">
								<i class=" far fa-edit" style=" color:blue"></i>
							</a>
							<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-game-delete-form').submit()" class="btn btn-light btn-outline-danger border-0 bg-transparent" data-bs-toggle="tooltip" title="Supprimer jeu">
								<i class="fas fa-trash" style="color:red"></i>
							</a>

							<form id="js-game-delete-form" action="{{ path('delete_game', { 'id' : game.id } ) }}" method="post" style="display:none">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('game_deletion_' ~ game.id ) }}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						{% endif %}
					</h1>
					<table class="table table-responsive">
						<tbody>
							<tr>
								<th>Date de Sortie:</th>
								<td>
									<i class="far fa-calendar-alt"></i>
									{% if game.releaseDate is not null %}
										{{ game.releaseDate|date("d/m/Y")}}
										({{game.releaseDate|ago}})
									{% else %}
										Aucune date de sortie
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Disponible sur:</th>
								<td>
									{{ consolesToStringWithLogo(game.consoles)|raw}}
								</td>
							</tr>
							<tr>
								<th>Genre(s):</th>
								<td>{{ devToString( game.genres) }}</td>
							</tr>

							<tr>
								<th>Développeur(s):</th>
								<td>{{ devToString( game.developpeurs) }}</td>
							</tr>
							<tr>
								<th>Editeur(s):
								</th>
								<td>{{ devToString( game.editeurs) }}</td>
							</tr>
							{% if (game.serie) %}
								<tr>
									<th>Série:
									</th>
									<td>
										<a href="{{ path('serie_game', { 'id' : game.serie.id } ) }}">
											{{ game.serie.name }}</a>
									</td>
								</tr>
							{% endif %}
							<tr>
								<th>PEGI:
								</th>
								<td><img src="{{ (game.pegi ? vich_uploader_asset(game.pegi) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_nano')}}" alt="{{ (game.pegi ? game.pegi.age : '') }}"/></td>
							</tr>
							<tr>
								<th>Lien(s):
								</th>
								<td>
									{% if game.slug is  not null %}
										<a href="https://www.igdb.com/games/{{  game.slug }}" class="btn btn-light btn-sm" target="_blank">
											<i class="fab fa-imdb"></i>
											Voir sur IMDB</a>
									{% endif %}
									{% if game.website is  not null %}
										<a href="{{ game.website }}" class="btn btn-light btn-sm" target="_blank">
											<i class="fas fa-globe"></i>
											Site officiel</a>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
					{% if game.gameUsers|length>0 %}
						<h1 class="mt-5 h5 text-secondary" align="center">
							Jeu possédé par :
						</h1>
						<table class="table">
							<tbody>
								<tr>
									<th>Nom:</th>
									<th>Support:</th>
									<th>Format:</th>
									<th>Action:</th>
								</tr>

								{% for  gameUser in game.gameUsers %}
									<tr>
										<td>{{gameUser.user.firstName}}</td>
										<td>{{gameUser.consoles.shortName}}</td>
										<td>{{ (gameUser.isDigital ? 
										'<span class="iconify" data-icon="bi:cloud-arrow-up" data-inline="false"></span>' : 
										'<span class="iconify" data-icon="fxemoji:dvd" data-inline="false"></span>' )}}</td>
										<td>
											<span class="btn btn-light">Demander</span>
											<a href="{{ path('show_mygame', { 'id' : gameUser.id } ) }}" class="btn btn-light">
												Voir
											</a>
										</td>
									</tr>

								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>


		<div class="p-3 row">
			<div class="col-md-12 mx-auto">
				<h1 class="h5 text-secondary" align="center">
					Synopsis:
				</h1>
				<p style="text-align: justify;" class="pt-3 text-break">{{ game.description|raw }}</p>
			</div>
		</div>
		{% if (game.videos|length > 0)  %}
			{% include "game/_video.html.twig" with {game: game } only %}
		{% endif %}
		{% if (game.screenshots|length > 0)  %}
			{% include "game/_screenshot.html.twig" with {game: game } only %}
		{% endif %}
	</article>
{% endblock %}
