<footer class="container text-center mt-5">
	<p class="text-muted">
		<small>
			&copy; 2021 -
			{{ 'now'|date('Y') }}
			&middot; Built with
			<span class="text-danger">
				&hearts;
			</span>
			by
			<a href="https://games-geeks.fr">
				G&G
			</a>
		</small>
	</p>
</footer>
