<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
	<div class="container-sm">
		<a class="navbar-brand" href=" {{ path('app_home' )}}">GestGame</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if app.user %}
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if (is_granted ('GAME_MANAGE'))%}
						<li class="nav-item ">
							<a class="nav-link" href="{{ path('create_game') }}">Nouveau jeu</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link" href="{{ path('search_igdb') }}">Jeu via IGDB</a>
						</li>
					{% endif %}
					<li class="nav-item ">
						<a class="nav-link" href="{{ path('my_game') }}">Mes jeux</a>
					</li>
					{% if (is_granted ('GAME_MANAGE'))%}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Gestion des Listes
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href=" {{ path('genre') }}">Genres</a>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('cover_serie') }}">Séries</a>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('editeur') }}">Editeurs</a>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('developpeur') }}">Développeurs</a>
								</li>
								<li>
									<div class="dropdown-divider"></div>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('outils_recherche_companie') }}">Outils</a>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('outils_slug') }}">Generer Slug</a>
								</li>
								<li>
									<div class="dropdown-divider"></div>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('constructeur') }}">Constructeurs</a>
								</li>
								<li>
									<a class="dropdown-item" href=" {{ path('console') }}">Consoles</a>
								</li>
							</ul>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{path ('app_account') }}">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ logout_path('main') }}">Logout</a>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_login') }}">Login</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
