<div class="row">
	<div class="col-md-6 mx-auto">


		{{ form_start(monForm) }}
		<div class="row">
			<div class="col-md-10 ">
				{{ form_row(monForm.mots) }}
			</div>
			<div
				class="mb-5 col-md-2 ">
				{# <i class="fas fa-search"></i> #}
				{{ form_row(monForm.Rechercher) }}
			</div>
		</div>

		{{ form_end(monForm) }}

	</div>
</div>
