{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-6 mx-auto">


			{{ form_start(formulaire,{'attr':{'novalidate':'novalidate'}}) }}
			<div class="row">
				<div class="col-md-12 ">
					{{ form_widget(formulaire.search) }}
					{% for  error in formulaire.search.vars.errors %}
						<div class="error-message">{{ error.message }}</div>
					{% endfor %}
				</div>

				{{ form_end(formulaire) }}

			</div>
		</div>


	{% endblock %}
