{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}


	<div class="row">
		{% for  game in games %}

			<div class="card mb-3" style="max-width: 680px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ game.cover }}" class="img-fluid rounded-start" alt="{{ game.name }}">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ game.name }}
								({{ game.releaseDate}})
							</h5>
							<span class="badge text-bg-light small">{{ categoryToString(game.category) }}</span>
							{% if game.console %}
								<span class="badge text-bg-light small">{{ consolesLongToString(game.console) |raw }}</span>
							{% endif %}
							<p class="card-text mt-1">{{game.storyline}}</p>
							{% if (is_granted('GAME_MANAGE')) %}
								<a href="{{ path('retour_igdb', { 'id' : game.id } ) }} " class="btn btn-primary">Ajouter le jeu</a>
							{% endif %}
							<a href="https://www.igdb.com/games/{{  game.slug }}" class="btn btn-primary" target="_blank">Voir sur IMDB</a>

						</div>
					</div>
				</div>
			</div>


		{% endfor %}

	</div>


{% endblock %}
