<form method="post" action="{{ path('vi_delete', {'id': video.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button class="btn">Delete</button>
</form>
