{% extends 'base.html.twig' %}

{% block title %}Ajouter une vidéo à un jeu!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Ajouter une vidéo à un jeu</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Ajouter vidéo'}) }}
		</div>
	</div>

{% endblock %}
