{% extends 'base.html.twig' %}

{% block title %}Video index
{% endblock %}

{% block body %}
	<h1>Video index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>IdYoutube</th>
				<th>TypeVideo</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for video in videos %}
				<tr>
					<td>{{ video.id }}</td>
					<td>{{ video.idYoutube }}</td>
					<td>{{ video.typeVideo }}</td>
					<td>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('show_video', {'id': video.id}) }}">show</a>
						<a href="{{ path('edit_video', {'id': video.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('create_video') }}">Create new</a>

{% endblock %}
