{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <h1>Video</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>IdYoutube</th>
                <td>{{ video.idYoutube }}</td>
            </tr>
            <tr>
                <th>TypeVideo</th>
                <td>{{ video.typeVideo }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vi_index') }}">back to list</a>

    <a href="{{ path('vi_edit', {'id': video.id}) }}">edit</a>

    {{ include('vi/_delete_form.html.twig') }}
{% endblock %}
