@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@import 'shared/variables';
@import "~bootstrap/scss/bootstrap";


body {

    font-family: $primary-font, sans-serif;
}

.console {
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    padding: 4px 6px;
    font-weight: 600;

    &.console-Microsoft {
        background-color: green;
    }

    &.console-Sony {
        background-color: #296cc8;
    }

    &.console-Nintendo {
        background-color: red;
    }
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: green;
    }

    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: blue;
    }
}

.vich-image {
    .form-check {
        @extend .mt-3;
    }

    img {
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow;
        @extend .img-thumbnail;
    }
}


.game img {
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.075);
    }

}

@media (max-width: 123px) {

    /* Remplacez 123px par la taille de votre choix */
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* cette classe est à ajouter lorsque que vous utilisez une version de Bootstap supérieure ou égale à la 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.filter {
    display: block;
    position: sticky;
    top: 20px;

}


.image-top {
    position: relative;
    overflow: hidden;
}

.image-top .overlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 0 15px 15px;
    color: white;
}

.image-top:hover .overlay {
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-out;

}

.image-top .overlay::before {
    content: "";
    background: #ffff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -80px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.image-top:hover .overlay::before {
    bottom: 0px;
    opacity: .3;
    cursor: pointer;

}

.image-middle {
    position: relative;
    overflow: hidden;
}

.image-middle .overlay {
    position: absolute;
    bottom: 0px;
    padding: 15px 0 15px 15px;
    width: 100%;
    color: white;
}

.image-middle .overlay::before {
    content: "";
    background: #ffff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -150px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.image-middle:hover .overlay::before {
    bottom: 0px;
    opacity: .3;
    cursor: pointer;
}

.image-middle:hover .overlay {
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-out;

}

.text-muted {
    color: #e5e2e2 !important;
}