{% extends 'base.html.twig' %}

{% block title %}
	Les covers
{% endblock %}

{% block body %}
	{% set serie_count = series|length  %}
	<div class="example-wrapper">
		{% if (serie_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (serie_count, 'Série') }}
				! ✅</h1>
			<p class="mb-5">Il y a
				{{ pluralize (serie_count, 'Série') }}
				dans la base |
				<a href="{{ path('create_serie') }}">
					Ajouter une Série
				</a>
				|
				<a href="{{ path('cover_cache') }}">
					Actualiser les covers
				</a>
			</p>
			{% for  row in series|batch(4) %}
				<div class="row mb-5">
					{% for  serie in row %}
						<div class="col-lg-3">
							<article class="game bg-white rounded shadow">
								<div class="mw-100 overflow-hidden rounded-top">
									<a href="{{ path('serie_game', { 'id' : serie.id } ) }}">
										<img src="{{ (serie.cover ? serie.cover : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium_serie')}}" alt="{{ serie.name }}" class="w-100 "/>
									</a>
								</div>
								<h2 class="h5 pl-3 pt-3 pb-3">
									<a href="{{ path('edit_serie', { 'id' : serie.id } ) }}" class="btn btn-light btn-outline-primary border-0 bg-transparent">
										<i class=" far fa-edit" style=" color:blue"></i>
										<a class="text-secondary text-decoration-none" href="{{ path('serie_game', { 'id' : serie.id } ) }}">
											{{ serie.name }}
										</a>
									</h2>
								</article>
							</div>
						{% else %}
							<p>
								Pas de jeu pour le moment!
							</p>
						{% endfor %}

					</div>
				{% endfor %}
			{% else %}
				<p class="mt-5 h1 text-center ">
					Pas de jeu pour le moment!
				</p>
			</a>
		</p>
	{% endif %}
{% endblock %}
