{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle série!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Créer une nouvelle série</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Créer Série'}) }}
		</div>
	</div>
{% endblock %}
