{% extends 'base.html.twig' %}

{% block title "Editer Série  #" ~ serie.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Série #
				{{ serie.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Série'}) }}
		</div>
	</div>
{% endblock %}
