{% extends 'base.html.twig' %}

{% block title %}Les Séries!
{% endblock %}

{% block body %}
	{% set serie_count = series|length %}
	<div class="example-wrapper">

		{% if (serie_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (serie_count, 'Série') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (serie_count, 'Série') }}
				dans la base |
				<a href="{{ path('create_serie') }}">
					Ajouter une Série
				</a>
				|
				<a href="{{ path('cover_serie') }}">
					Actualiser les covers
				</a>
			</p>


			{% for  serie in series %}
				<a href="{{ path('show_serie', { 'id' : serie.id } ) }}" class="btn btn-light">
					<i class="far fa-eye" style="color:blue"></i>
				</a>
				{{serie.name}}
				(<a href="{{ path('serie_game', { 'id' : serie.id } ) }}">
					{{pluralize (serie.games|length, 'jeu', 'jeux')}}
				</a>
				dans la série)
				<br/>
			{% else %}
				<p>
					Pas encore de Série!
					<a href="{{ path('create_serie') }}">
						En ajouter une
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de Série!
				<a href="{{ path('create_serie') }}">
					En ajouter une
				</a>

			</p>
		{% endif %}
	{% endblock %}
