{% extends 'base.html.twig' %}

{% block title %}Hello CompagnieController!
{% endblock %}

{% block body %}

	<article class="game bg-white rounded shadow">
		<div class="mw-100 overflow-hidden rounded-top">

			<div class="row">
				<div class="col-md-1">
					Id
				</div>
				<div class="col-md-4">
					Nom
				</div>
				<div class="col-md-4">
					Est Developpeur?
				</div>
				<div class="col-md-3">
					Est Editeur?
				</div>
			</div>
		</div>
	</article>
	{% for  companie in companies %}

		<article class="game bg-white rounded shadow">
			<div class="mw-100 overflow-hidden rounded-top">

				<div class="row">
					<div class="col-md-1">
						{{  companie.id  }}
					</div>
					<div class="col-md-4">
						{{ companie.name }}
					</div>
					<div class="col-md-4">
						{{ companie.developer }}
					</div>
					<div class="col-md-3">
						{{ companie.publisher }}
					</div>
				</div>
			</div>
		</article>

	{% endfor %}


{% endblock %}
