{% extends 'base.html.twig' %}

{% block title %}Résultat pour les consoles!
{% endblock %}

{% block body %}


	{% for  value in values %}

		<article class="game bg-white rounded shadow">
			<div class="mw-100 overflow-hidden rounded-top">

				<div class="row">
					<div class="col-md-1">
						{{  value.id  }}
					</div>
					<div class="col-md-4">
						{{ value.name }}
					</div>
					<div class="col-md-4">
						{{ value.abbreviation }}
					</div>
					<div class="col-md-3">
						{{ value.alternativeName }}
					</div>
				</div>
			</div>
		</article>

	{% endfor %}


{% endblock %}
