{% block importmap %}
	{{ importmap(['app',  'ckeditor-init']) }}
{% endblock %}
{{ form_start(monForm) }}
{{ form_widget(monForm) }}
<input type="Submit" value="{{ submitButtonText|default('Créer le genre') }}" class="btn btn-primary btn-block" formnovalidate>
{{ form_end(monForm) }}
