<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}GestGame!
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		</head>
		<body>
			{{ include ('layout/partials/_flash_messages.html.twig' )}}
			{{ include ('layout/partials/_nav.html.twig' )}}
			<main role="main" class="container"> {% block body %}{% endblock %}
				</main>
				{{ include ('layout/partials/_footer.html.twig' )}}
				{% block javascripts %}
					{% block importmap %}
						{{ importmap('app') }}
					{% endblock %}

					<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
				{% endblock %}
			</body>
		</html>
