{% extends 'base.html.twig' %}

{% block title %}Hello ChartjsController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="row">
		<div class="col-md-4 mx-auto">
			{{ render_chart(chartGenre, {'id': 'my-chart'})}}
		</div>
		<div class="col-md-4 mx-auto">
			{{ render_chart(chartPegi, {'id': 'my-chart'})}}
		</div>
		<div class="col-md-4 mx-auto">
			{{ render_chart(chartDate, {'id': 'my-chart'})}}
		</div>
	</div>
{% endblock %}
