{% extends 'base.html.twig' %}

{% block title "Editer Console  #" ~ console.id  %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Editer Console #
				{{ console.id }}</h1>
			{{ include ('_form.html.twig', {'submitButtonText': 'Modifier Console'}) }}
		</div>
	</div>
{% endblock %}
