{% extends 'base.html.twig' %}

{% block title %}Les Consoles!
{% endblock %}

{% block body %}
	{% set console_count = consoles|length %}
	<div class="example-wrapper">

		{% if (console_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (console_count, 'Console') }}
				! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (console_count, 'Console') }}
				dans la base |
				<a href="{{ path('create_console') }}">
					Ajouter une Console
				</a>
			</p>


			{% for  console in consoles %}
				<a href="{{ path('show_console', { 'id' : console.id } ) }}" class="btn btn-light">
					<i class="far fa-eye" style="color:blue"></i>
				</a>
				{{ console.longName }}
				-
				{{ console.shortName }}
				-
				{{ console.constructeur.name }}
				<br/>
			{% else %}
				<p>
					Pas encore de Console!
					<a href="{{ path('create_console') }}">
						En ajouter une
					</a>
				</p>
			{% endfor %}

		{% else %}
			<p class="mt-5 h1 text-center ">
				Pas encore de Console!
				<a href="{{ path('create_console') }}">
					En ajouter une
				</a>

			</p>
		{% endif %}
	{% endblock %}
