{% extends 'base.html.twig' %}

{% block title %}
	{{ console.longName }}!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<article>
				<div class="p-3">
					<p class="pt-3 text-break">
						Nom de la console :
						{{ console.longName }}
						-
						{{ console.shortName }}
						-
						{{ console.constructeur.name }}
						<br/>
					</p>

					<div class="pt-3">
						<p>
							<a href="{{ path('edit_console', { 'id' : console.id } ) }}" class="btn btn-light">
								<i class="far fa-edit" style="color:forestgreen"></i>
								Modifier</a>
							<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-console-delete-form').submit()" class="btn btn-light">
								<i class="fas fa-trash" style="color:red"></i>
								Supprimer</a>
						</p>
						<form id="js-console-delete-form" action="{{ path('delete_console', { 'id' : console.id } ) }}" method="post" style="display:none">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('console_deletion_' ~ console.id ) }}">
							<input type="hidden" name="_method" value="DELETE">
						</form>
					</div>
				</div>
			</article>


		</div>
	</div>


{% endblock %}
